block vars
    - var member= function(modalID, name, subtitle, pic){this.id = modalID; this.name = name; this.subtitle=subtitle; this.pic = pic; this.story = "test story"; return this}
    - var member01 = new member("member01", "Steven Goulas", "Founder & President", "steve.jpg")
    - var member02 = new member('member02', 'Cameron Kirdzik', 'Founder & President', 'cam.jpg')
    - var member03 = new member('member03', 'Justin Thomas', 'Founder & VP', 'justin.jpg')
    - var member04 = new member('member04', 'Raymond Robinson', 'Head of Campus Recruiting and Social Activities', 'ray.jpg')
    - var member05 = new member('member05', 'Daniel Smith', 'Head of Development and Alumni Relations', 'dan.jpg')
    - var member06 = new member('member06', 'Howie Xu', 'Treasurer and Fund Manager', 'howie.jpg')
    - var member07 = new member('member07', 'Cameron Yick', 'Lead Developer', 'camyick.jpg')
    - member01.story = "From a young age, my interest in finance stemmed from many afternoons at my grandfather's small coin store. In high school, I interned at a mortgage banking firm and learned about credit and money transactions. While at Yale, I have explored different opportunities to extend my knowledge of finance and investing. I am a member of the Yale Student Investment Group on campus and have analyzed companies and produced pitch ideas for both the Industrial and Technology, Media, and Tele-communication industry groups. I am excited to work together with the rest of the board in making investment education fun and accessible at Yale.";
    - member02.story = "Having enjoyed financial experiences at Goldman Sachs, J.P. Morgan, and Red Hook Management, I have been able to narrow my financial interests to primarily investment banking, portfolio management, wealth management and investing. My goal in leading YUDI is to spread investment education around campus so that anyone who wants to learn about this topic can have that opportunity. Understanding the financial theory behind investing is important, but at YUDI we are determined to take this theory and turn it into application, so our members can learn not only by listening but, more importantly, by doing.";
    - member03.story = "Beyond the experience of developing my own portfolio over the past 3 years, I have an extensive background in chemical physics and cancer therapy research. I believe this background has built a strong work ethic based on critical thinking and logical process. I hope to apply these new found skills to business and finance by creating an educational group on campus aimed at teaching undergrads. My dedicated team of cofounders and I are going to teach new investors how to approach the market without fear and build their own portfolio wisely.";
    - member04.story = "Raymond's biol is coming soon.";
    - member05.story = "Daniel's Bio is coming soon.";
    - member06.story = "Howie's bio is coming soon.";
    - member07.story = "I'm studying EE/CS and design + develop <a href='http://cameronyick.us'>apps</a>. I'm interested in exploring how effective design and algorithms can help grow businesses and solve problems. I maintain the YUDI web portal and developed the RFID tag attendance tracking system.";
    - var members = [member01, member02,member03,member04,member05,member06,member07]